<nav aria-label="Breadcrumb">
  <ol class="flex items-center gap-1.5 text-sm text-stone-500">
    <% @items.each_with_index do |item, index| %>
      <% last = index == @items.size - 1 %>
      <li class="flex items-center gap-1.5"<% if last %> aria-current="page"<% end %>>
        <% if last %>
          <span class="font-medium text-stone-900"><%= item[:label] %></span>
        <% else %>
          <%= link_to item[:label], item[:path], class: "hover:text-stone-700" %>
          <svg class="h-3.5 w-3.5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
          </svg>
        <% end %>
      </li>
    <% end %>
  </ol>
</nav>
